/*     dark: '#00243f',
    lessDark: '#264b77',
    accent: '#b67929',
    gray: '#a3acb1',
    matte: '#3c5b74' */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
